.container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 200px 100px 500px 500px 50px;
  grid-gap: 20px;
  grid-template-areas:
  "hd hd hd hd"
  "ct ct ct ct"
  "sd main main main"
  "sd main main main"
  "ft ft ft ft"
}
 @media(max-width: 800px) {
   .container {
     display: grid;
     grid-template-columns: 20% 80%;
     grid-template-rows: 200px 100px 500px 500px 50px;
     grid-gap: 20px;
     grid-template-areas:
     "hd hd hd hd"
     "ct ct ct ct"
     "sd sd sd sd"
     "main main main main"
     "ft ft ft ft"

   }

   .my_face {
     width: 300px;
   }
   .bio {
     font-size: 20pt;
   }
 }

.header_box {
  text-align: center;

  position: relative;
  top: 20px;
  grid-area: hd;
  background-color: white;
  color: #223366;
  font-family: 'Lucida Console', monospace;

}
#blog_title {
  position:relative;
  top: 30%;
}
.contents {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  grid-area: ct;
  background-color: #99AACC;
}
.my_face {
  border-radius: 50%;
}
.bio {
  grid-area: sd;
  background-color: #BFCEEE;
  text-align: center;
  font-weight: bold;
  font-size: 1.5vw;
}
#content {
  width = 10%;
  height = 200px;
  text-align: center;
  vertical-align: middle;

}
.posts_preview {
  display: flex;

  grid-area: main;
  flex-direction: column;

}
#post_card {
  display: grid;
  height: 50%;
  border: 3px solid #99AACC;
  grid-gap: 5%;
  grid-template-columns: 20% 75%;
  grid-template-rows: 15% 15% 45% 10%;
  grid-template-areas:
  "pic title"
  "pic subtitle"
  "pic text"
  "pic link"

}

.image_preview {
  grid-area: pic;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.preview_link {
  text-align: right;
  font-weight: bold;
}

a#udacity:visited{color: purple;}
a#udacity:hover {color: yellow;}
a:link {color: black; text-decoration: none;}
a:visited{color: black;}
a:hover {color: white;}
a.preview_link:hover {color: blue;}



.footer_box {
  align-items: center;
  grid-area: ft;
  background-color: #335566;
}

#footer_text {
  text-align: center;
  font-weight: lighter;
  color: white;
}

/* about.html*/
.go_home {
  grid-area: sd;
  background-color: #CCCCEE;
  text-align: center;
  font-size: 2em;
}
#home_button {
  position: relative;
  top: 45%;
}
.introduction{
  display: flex;
  height: 1000px;
  border: 3px solid #99AACC;
  flex-direction: column;
  flex
}

.details{
  font-size: 20pt;
  font-family: cursive;
  line-height: 30pt;
  height: 800px;
  margin: 20px;
}

#udacity{
  font-size: 20pt;
  font-family: cursive;
  a:link {color: blue; text-decoration: none;}


}

.drawings_contents{
  display: flex;
  height: 1000px;
  grid-area: main;
  flex-direction: column;

}
.card1{
  display: grid;
  height: 500px;
  border: 3px solid #99AACC;

  grid-gap: 5%;
  grid-template-columns: 40% 55%;
  grid-template-rows: 15% 15% 45% 10%;
  grid-template-areas:
  "pic title"
  "pic subtitle"
  "pic text"
  "pic link"
}
.card2{
  display: grid;
  height: 500px;
  border: 3px solid #99AACC;

  grid-gap: 5%;
  grid-template-columns: 40% 55%;
  grid-template-rows: 15% 15% 45% 10%;
  grid-template-areas:
  "pic title"
  "pic subtitle"
  "pic text"
  "pic link"
}


.original_image{
  grid-area: pic;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.digital_arts_contents{
  display: flex;
  height: 1000px;
  grid-area: main;
  flex-direction: column;
}
